body {
  margin: 0;
}

section {
  display: block;
  min-height: 250px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}



button {
  text-transform: uppercase;
}

h3, h4 {
  margin-top: 0;
}
