<section>
  <h2>Explicit Subscribe</h2>
  <div>
    <h3>Changes within the same component using subscribe method</h3>
    <ng-container *ngIf="cursorView; else updatedAttributes">
      <strong>(new) cursor color:</strong> {{buttonAttributes.color}}<br>
      <strong>(new) cursor shape:</strong> {{buttonAttributes.shape}}<br>
    </ng-container>

    <ng-template #updatedAttributes class="changed">
      <strong>cursor color:</strong> {{buttonAttributes.color}}<br>
      <strong>cursor shape:</strong> {{buttonAttributes.shape}}<br>
    </ng-template>

    <br>
    <button (click)="changeCursorAttributes()">Change Button Attributes</button>
    <br><br>
  </div>
  <hr>
  <div>
    <!-- child components example goes here -->
  </div>
</section>

